@use "sass:color";
@import "src/style/colors";
@import "src/style/variables";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  $lightness-offset: $bg-lightness-offset;
  background: linear-gradient(to right,
      color.adjust($color-primary, $lightness: $lightness-offset),
      color.adjust($color-secondary, $lightness: $lightness-offset),
      color.adjust($color-tertiary, $lightness: $lightness-offset),
      color.adjust($color-primary, $lightness: $lightness-offset),
      color.adjust($color-secondary, $lightness: $lightness-offset),
      color.adjust($color-tertiary, $lightness: $lightness-offset),
      color.adjust($color-primary, $lightness: $lightness-offset));
  background-size: 800% 100%;

  animation: scroll-background-right linear 80s infinite;
}

@keyframes scroll-background-right {
  from {
    background-position-x: 400%;
  }

  to {
    background-position-x: 0%;
  }
}